<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitoblar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Bosh sahifa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/books/">Kitoblar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catalog/">E-katalog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <center>
    <div style="padding: 50px;">
        {% for book_group in book_groups %}
            <div class="container-fluid" style="max-width: 600px;">

                <div class="card-group">
                  <div class="card">
                    <img src="{{book_group.0.cover}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{book_group.0.name}}</h5>
                      <p class="card-text">{{book_group.0.description}}</p>
                      <p class="card-text"><small class="text-muted">{{book_group.0.categories}}</small></p>
                        <a class="btn btn-primary" href="{{book_group.0.url}}" role="button">Yuklab olish</a>
                    </div>
                  </div>

                {% if book_group.1 %}
                  <div class="card">
                    <img src="{{book_group.1.cover}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{book_group.1.name}}</h5>
                      <p class="card-text">{{book_group.1.description}}</p>
                      <p class="card-text"><small class="text-muted">{{book_group.1.categories}}</small></p>
                        <a class="btn btn-primary" href="{{book_group.1.url}}" role="button">Yuklab olish</a>
                    </div>
                  </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    </center>
</body>
</html>